<canvas #myCanvas style="height: 30rem; width: 30rem"></canvas>

<div style="display: flex; flex-direction: row; gap: 2rem">
    <button type="button" (click)="this.groupedByGenre()">
        Agrupado por género
    </button>
    <button type="button" (click)="this.groupedByYear()">
        Agrupado por año
    </button>
    <button type="button" (click)="this.chart?.update('hide')">
        chart.update('hide')
    </button>
    <button type="button" (click)="this.chart?.update('show')">
        chart.update('show')
    </button>
    <button type="button" (click)="this.chart?.destroy()">
        chart.destroy()
    </button>
    <select [(ngModel)]="this.selectedChartType">
        @for (type of this.chartTypes; track type) {
            <option [value]="type">{{ type }}</option>
        }
    </select>
</div>
